@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

h1, h2{
    padding: 20px;
}

p{
    padding: 20px;
    line-height: 2em;
    margin-bottom: 10px;
}

header{
    display: flex;
    color: white;
    align-items: center;
    background-color: #1e1d20;
    justify-content: space-between;
}

header a{
    color: white;
    margin: auto 15px;
    text-decoration: none;
}


header a:hover{
    color: blue;
    transition: .6s;
    text-decoration: underline;
}

.flexbox{
    display: flex;
    flex-flow: column nowrap;
    background-color: rgb(173, 160, 160);
}

.mediatext{
    display: flex;
    flex-flow: row wrap-reverse;
}

.textmedia{
    display: flex;
    flex-flow: row wrap;
}

.text{
    flex: 1 0 250px;
}

.media{
    flex: 1 1 400px;
}

.media img{
    width: 300px;
}

.media iframe{
    width: 90%;
    margin: auto;
    padding: 20px;
    display: block;
}